---
layout: page
title: "Teaching English"
description: "<br />Hello, I am Jieyin~ My second job is teaching English and Chinese as a second language teacher.<br /> <br />Hello, 我是结茵~ 我的副业是一名语言教师，教学英语和汉语。"
header-img: "img/img2.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
   


<h5>ABOUT MY LESSONS</h5>
<h6>  *** RECRUITING STUDENTS***</h6>
<h6> CONTACT</h6>
1. Email: jieyinfeng0505@gmail.com <br />
2. WeChat: Jieyin_TeachLanguage<br />
<h6>FOCUS</h6>
(1) Business English<br /> 
(2) General English<br />
(3) IELTS exam<br />
(4) Job interviews<br />
(5) Postgraduate program application<br />
(6) Academic English<br />
(7) Travel & Cultural differences<br />
<h6> METHODOLOGY</h6>
- student-centred approach, need-based<br />
- communicative approach, guided discovery, effective task design<br />
- interactive with multi-media<br />
- combination of coursebook materials and authentic materials<br />
- homework and feedback<br />
- monthly review on study process and lessons approach/direction <br />
<h6> LANGUAGE SKILLS</h6>
- English: advanced C1, IELTS overall 7.5 (updated 07/2023); I have used English as my primary work language for 5 years.<br />
- Spanish: pre-intermediate; I used basic Spanish in Latin America for 2 years and I am currently studying it.<br />
- Chinese/Mandarin: native, Putonghua Proficiency Test: 2nd Level A.<br />
- Cantonese: native.<br />
- Japanese: advanced JLPT N2 level; I can read and speak Japanese, and I used Japanese to travel in Japan.<br />
- Chinese Sign Language: basic communication.<br />
__________________________________________________________________________________________________
<h5>ENGLISH TEACHING EXPERIENCE (till 05/31/2025)</h5>
<h6>10/2024 - 05/2025  IES Castillo de Luna, Spain, English teacher, classroom (448 hrs) (Coordinator: María de la Paz Lourtau López)</h6>
(1) Teaching General English and task-based English<br />
(2) Students are Spanish high school students aged 16 to 18 years old<br />
(3) Materials: Assisting main subjects’ English teaching, authentic materials<br />
<h6>07/2024 - present  Flalingo, Turkey, English Teacher, online, 1-to-1 lessons  (878 hrs)</h6>
(1) Teaching General English, IELTS preparation, Business English.<br />
(2) Students are Turkish adults and teenagers; students levels are varied from CEFR Level A2 to C1.<br />
(3) Materials: Oxford English File & Business Result, my own materials<br />
<h6>06/2024 - present Berlitz Japan, English Teacher, online, 1-to-1 lessons (192 hrs)</h6>
(1) Teaching Business English, General English, Conversational & Travelling English.<br />
(2) Students are Japanese adults, company staff; students levels are varied from Berlitz Level 2 to 8.<br />
(3) Materials: Berlitz Business English, General English and etc. for adults; Impact, TimeZone for teens.<br />
<h6>05/2024 - present American SE English, English Teacher, online, 1-to-1 lessons (32 hrs)</h6>
(1) Teaching General English, IELTS preparation, Conversational & Travelling English.<br />
(2) Students are Chinese adults and teenagers; students levels are varied from CEFR level A2 to B2.<br />
(3) Materials: Cambridge Complete IELTS, Cambridge Unlock English books<br />
<h6>02/2022 - present Private tutoring, self-employed, online, 1-to-1 lessons (79 hrs)<br /></h6>
(1) Teaching General English, IELTS preparation, Business English.
(2) Students are Chinese adults; students levels are varied from CEFR Level A2 to B2.<br />
-------------------------------------------------
<h5>Other TEACHING EXPERIENCE (till 05/31/2025)</h5>
<h6>06/2024 - present Berlitz Japan, Chinese Teacher, online, 1-to-1 lessons (17 hrs)</h6>
(1) Teaching General Chinese.<br />
(2) Students are Japanese adults, company staff; students levels are varied from Berlitz Level 0 to 8.<br />
(3) Materials: Berlitz General Chinese.<br />
-------------------------------------------------
<h6>09/2017 - 01/2018 Teaching Assistant, East China Normal University, China (Prof. Qing Cai)</h6>
- Class: undergrads’ MATLAB Courses<br />
-------------------------------------------------
<h6>03/2015 - 03/2016 Psychological Teacher and Counsellor, China (Head Teacher: Huanqing Li)</h6>
Ji’nan NanxinZhuang Elementary School & Ji’nan Lake Elementary School *apprenticeship<br />
(1) Experienced in early identification with psychological profiles of children age 6-12.<br />
(2) Experienced in psychotherapy with children age 9-12.<br />
(3) Experienced in psychological teaching to children age 9-10.<br />
__________________________________________________________________________________________________
<h5>TEACHING CERTIFICATE</h5>
<h6>Certified with CELTA, International House London, University of Cambridge</h6>
(1) Taught students at pre-intermediate and upper-intermediate level with various skills levels.<br />
(2) Taught English grammar, lexis, listening and reading skills in a student-centred approach.<br />
(3) Taught students in groups of 6-15 students from different countries.<br />
(4) Techniques: Guided discovery, communcative approach, effective task design.<br />
-------------------------------------------------
<h5> EDUCATION</h5>
<h6> 2019 - 2021 Graduate Coursework in Psychological Sciences, University of Connecticut, USA</h6>
Research focus: Neuromechanism of flexibility and resilience in Dyslexia (PI: Prof. Fumiko Hoeft)<br />
(GPA 3.81, 52 credits finished) <br />
<h6> 2016 - 2019 Master of Science in Cognitive Neuroscience, East China Normal University, China</h6>
Research topic: Neuromechanism of learning Chinese as a second language (PI: Prof. Qing Cai)<br />
(GPA 3.69, 35 credits, Graduated with Honors, Recommended Postgraduate)<br />
<h6> 2012 - 2016 Bachelor of Science in Applied Psychology, University of Jinan, China</h6>
Research topic: Neuromechanism of facial expression recognition (PI: AP. Sutao Song)<br />
(GPA 4.08, Graduated with Honors, National Scholarship Recipient with Honors)<br />
-------------------------------------------------
<h5>WORKING & LIVING ABROAD</h5>
1. 2024 - 2026 in Spain, working as an English second teacher in public schools (both high school and primary school), online psychotherapist work, online teaching work <br />
2. 2024 about 2 months in New Zealand, online psychotherapist work, online teaching work<br />
3. 2021 - 2023 in Latin America, online psychotherapist work, online teaching work, Help Exchange, Travelling<br />
4. 2019 - 2021 in USA，R1 Cognitive Neuroscience Researcher<br />
5. 2019 2 months in Finland，Help exchange <br />
__________________________________________________________________________________________________


   <!-- English Version -->
<div class="en post-container">
    <blockquote><p>To feel it, to experience it, and to enjoy it.<br>
    Stay authentic, stay curious, stay healthy.</p></blockquote>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
